version: '3.8'
services:
  honeypot:
    build:
      context: ./src/honeypot
      dockerfile: Dockerfile
    container_name: detel_honeypot
    ports:
      - "8083:8083"
    environment:
      - COLLECTOR_URL=http://collector:8084/ingest
    volumes:
      - ./artifacts:/app/artifacts

  collector:
    build:
      context: ./src/collector
      dockerfile: Dockerfile
    container_name: detel_collector
    ports:
      - "8084:8084"
    volumes:
      - ./artifacts:/app/artifacts
