name: Security Scan
on: [push]

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build docker images
        run: |
          docker build -t ryanwelchtech/detellab-honeypot:latest ./src/honeypot
          docker build -t ryanwelchtech/detellab-collector:latest ./src/collector
      - name: Run Trivy scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ryanwelchtech/detellab-collector:latest'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
